
.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beautify {
    font-size: 2rem;
    background: royalblue;
    color: whitesmoke;
    font-family: cursive ;
}
.my-btn {
    width: 150px;
    height: 55px;
    font-size: 2rem;
    border-radius: 5px;
    font-weight: bold;
}
